<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Feed</title>
</head>
<body>
 
    <!-- Importing Header -->
    <%- include('partials/_header') %>

    <!--Helper function to convert date from YYYY-MM-DD to DD-MM-YYYY -->
    <%
        function dateConversion(dateInYMD){
            const parts = dateInYMD.split('-')
            const dateInDMY = `${parts[2]}-${parts[1]}-${parts[0]}`
            return dateInDMY;
        }
    %>

    <!--Template for displaying all blog posts -->
    <%if(posts.length > 0) {%>

        <h2 style="text-align: center; margin: 30px"><u>All Posts</u></h2>
            <%posts.forEach(function(post){%>
                    <h3><%=post.title%></h3>
                    <i><p>Posted by <%=post.author.username%> on <%= dateConversion(post.createdAt.toISOString().substring(0,10))%></p></i>
                    <p><b><%=post.content%></b></p>
                    <hr style="margin: 40px">
            <%})%>

    <%} else {%>

        <h3>No new posts available.</h3>

    <%}%>
    
</body>
</html>