<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head') %>
<body>
 
    <%- include('partials/_header') %>
    
    <%- include('partials/_navbar') %>

    <!--Helper function to convert date from YYYY-MM-DD to DD-MM-YYYY -->
    <%
        function dateConversion(dateInYMD){
            const parts = dateInYMD.split('-')
            const dateInDMY = `${parts[2]}-${parts[1]}-${parts[0]}`
            return dateInDMY;
        }
    %>

    <!--Template for displaying all blog posts -->
    <%if(posts.length > 0) {%>

            <%posts.forEach(function(post){%>
                    
                <div class="container my-5">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h4 class="display-4 text-center mb-4"><%= post.title %></h4>
                            <p class="text-muted text-center mb-4">Posted by <span class="fst-italic fw-bold"><%= post.author.username %></span> on <%= dateConversion(post.createdAt.toISOString().substring(0,10)) %></p>
                            <div class="content">
                                <p><%= post.content %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr">

            <%})%>

    <%} else {%>

        <div class="container my-5">
            <h4 class="display-4 text-center mb-4">No new posts for now</h4>
        </div>

    <%}%>
    
    <%- include('partials/_footer') %>
</body>
</html>